<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Provider</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for unit in asylee.medicals.all %}
        <tr>
          <td class="align-middle">{{ unit.provider.name }}</td>
          <td class="text-right">
            <a href="{% url 'asylee:detail' asylee.id %}" class="card_link">See more</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="10">No medical records found matching your request</td>
        </tr>
      {% endfor %}
      <tr>
          <td colspan="10">
              <a href="{% url 'asylee:detail' asylee.id %}" class="btn btn-primary">Add New Medical Issue&nbsp;
              <span class="badge bg-light">+</span></a>
          </td>
      </tr>
    </tbody>
    {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
  </table>
</div>