{% extends 'intake/bootstrap.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/intake/css/ristra.css' %}" rel="stylesheet">

{% load bootstrap5 %}

{% block title %}Ristra Refuge{% endblock title %}

{% block bootstrap5_content %}




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Ristra Refuge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if active_view == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->

        {% if user.profile.affiliation %}
        <li class="nav-item dropdown {% if active_view == 'reports' %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'report:at a glance' %}">At-A-Glance</a></li>
            <li><a class="dropdown-item" href="{% url 'report:active households' %}">Active Households</a></li>
            <li><a class="dropdown-item" href="{% url 'report:active asylees' %}">Active Household Members</a></li>
            <li><a class="dropdown-item" href="{% url 'report:org historical' %}">{{ user.profile.affiliation.name }} Historical</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
        {% if user.profile.role != 'site_coordinator' %}
        <li class="nav-item dropdown{% if active_view == 'search' %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="{% url 'report:asylees search' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
        </li>
        {% else %}
        <li class="nav-item dropdown {% if active_view == 'search' %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'report:asylees search' %}">Asylees</a></li>
            <li><a class="dropdown-item" href="{% url 'report:volunteers search' %}">Volunteers</a></li>
          </ul>
        </li>
        {% endif %}
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        <li class="nav-item dropdown{% if active_view == 'donate' %} active{% endif %}">
          <a class="nav-link" href="{% url 'donate:overview' %}">Donate</a>
        </li>
      </ul>


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'request queue' %}">Request Queue</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'user:update profile' %}">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
{% include 'intake/breadcrumbs.html' %}

  {% include 'intake/messages.html' %}

  <div class="container">
    <br>
      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}(no content){% endblock %}
  </div>

<br><br><br><br>


{% include 'intake/footer.html' %}
{% endblock %}