{% extends 'intake/base.html' %}

{% block title %}Donate{% endblock %}

{% block content %}

<div class="card-group">

    {% for unit in donate_list %}
  <div class="card" style="min-width: 18rem; max-width: 36rem;">
    <div class="card-body">
        <h5 class="card-title">{{ unit.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ unit.location }}</h6>
        <p class="card-text">{{ unit.description|safe }}</p>
        <a href="{{ unit.url }}" class="card-link">donate</a>
        {% if user.is_superuser %}
        <a href="{% url 'donate:update' unit.pk %}" class="btn btn-warning btn-sm active text-light" role="button" aria-pressed="true">Update</a>
        <a href="{% url 'donate:delete' unit.pk %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Delete</a>
        {% endif %}
    </div>
  </div>
  {% empty %}
  <h4>There are no recipients</h4>
  {% endfor %}

</div>

{% if user.is_superuser %}
<br><br><a href="{% url 'donate:add' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add</a>
{% endif %}

{% endblock %}