{% extends 'intake/base.html' %}

{% load bootstrap5 %}

{% block title %}{{button_text}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>{{title}}</h2>
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% if 'Update' in button_text %}
                {% buttons submit=button_text layout='horizontal' %}{% endbuttons %}
            {% else %}
                {% buttons submit=button_text reset='Reset' layout='horizontal' %}{% endbuttons %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
