{% extends 'intake/base.html' %}

{% load django_bootstrap5 %}

{% block title %}{{button_text}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>{{title}}</h2>
        <br>
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% if 'Update' in button_text %}
                {% bootstrap_button button_type="submit" content=button_text %}
            {% else %}
                {% bootstrap_button button_type="submit" content=button_text %}
                {% bootstrap_button button_type="reset" content="Reset" %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}