{% load my_tags %}
<tr><td colspan="3">&nbsp</td></tr>
<tr><td>{{ asy.householdhead.travel_plan.travel_mode|title }}</td><td>&nbsp</td><td>{{ asy.householdhead.travel_plan.flight_number }}</td></tr>
<tr><td><small class="text-muted">airline / aerolínea</small></td><td>&nbsp</td><td><small class="text-muted">flight number / número de vuelo</small></td></tr>
<tr><td colspan="3">&nbsp</td></tr>
<tr><td>{{ asy.householdhead.travel_plan.destination }}</td><td>&nbsp</td><td>{{ asy.householdhead.travel_plan.layovers|title }}</td></tr>
<tr><td><small class="text-muted">destination / destinación</small></td><td>&nbsp</td><td><small class="text-muted">layover / parada</small></td></tr>
<tr><td colspan="3">&nbsp</td></tr>
<tr><td>{{ asy.householdhead.travel_plan.travel_date|hdYIMp }}</td><td>&nbsp</td><td>&nbsp</td></tr>
<tr><td><small class="text-muted">departure time / hora de salida </small></td><td colspan="2">&nbsp</td></tr>
<tr><td colspan="3">&nbsp</td></tr>
<tr><td>{{ asy.householdhead.travel_plan.eta|hdYIMp }}</td><td>&nbsp</td><td>{{ asy.householdhead.travel_plan.travel_time|time_to_now }}</td></tr>
<tr><td><small class="text-muted">arrival time / hora de llegada</small></td><td>&nbsp</td><td><small class="text-muted">duration / duración</small></td></tr>
<tr><td colspan="3">&nbsp</td></tr>
<tr><td colspan="3">Notes / notas</td></tr>
<tr><td colspan="3">{{ asy.householdhead.travel_plan.notes }}</td></tr>
