{% extends 'intake/base.html' %}

{% load my_tags %}

{% block title %}All Affiliated Volunteers{% endblock %}

{% block content %}
{{users}}
<div class="container">
<h1 class="text-center">{{ report_title }}</h1>
<div class="row">
<div class="col-md">
<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Logged In</th>
      <th>Intake</th>
      <th>Travel</th>
      <th>Medical</th>
      <th>Vol/TL/SC</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for unit in user_list %}
    <tr>
      <td>{% if unit.get_full_name %}{{ unit.get_full_name }}{% else %}{{ unit.username }}{% endif %}</td>
      <td>{{ unit.last_login }}</td>
      <td>{% if unit.profile.is_capable_intake %}✅{% else %}❌{% endif %}</td>
      <td>{% if unit.profile.is_capable_travel %}✅{% else %}❌{% endif %}</td>
      <td>{% if unit.profile.is_capable_medical %}✅{% else %}❌{% endif %}</td>
      <td>{{ unit.profile.role }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table><br><br>
</div class="col-sm-6">
</div class="row">

<div class="jumbotron">
  <p class="lead">An Asylee is considered active if they have not yet left or are within 24 hours of arriving at their destination.</p>
</div>

</div class="container">

{% endblock %}