{% extends 'intake/base.html' %}

{% load django_bootstrap5 %}

{% block title %}{{button_text}}{% endblock %}

{% block content %}

<div class="jumbotron">
  <p class="lead">You are currently affiliated to <strong>{{ user.profile.affiliation.name }}.</strong> <a href="{% url 'user:unaffiliate' %}">Remove affiliation</a></p>
  <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>{{title}}</h2>
        <br>
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% bootstrap_button button_type="submit" content=button_text %}
        </form>
    </div>
</div>

{% endblock %}