{% extends 'intake/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Login :: {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-10 col-12">
      <h2>{{title}}</h2>
      <br>
      <form role="form" class="form-horizontal" method="post">
          {% csrf_token %}
          {% bootstrap_form form layout="horizontal" %}
          {% bootstrap_button button_type="submit" content="Login" %}
          {% bootstrap_button button_type="reset" content="Reset" %}
      </form>
  </div>
</div>

<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <h5>Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></h5>
              <br>
              <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
              <br>
              <h5>Please check your email if you haven't confirmed your email address.</h5>
            </div>
        </div>
    </div>

{% endblock content %}