{% extends 'intake/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Password Reset :: {% endblock %}

{% block content %}
  <br><h3>Password Reset</h3>
  <br>
  <p>Enter your email address below and check your email for instructions on setting a new password.</p>
  <p>Your email address must be a valid email address to receive the reset link.</p><br>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% bootstrap_button button_type="submit" content="Send Reset Link" %}
  </form>


<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
            </div>
        </div>
    </div>

{% endblock content %}





{% block title %}{{button_text}} :: {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>{{title}}</h2>
        <br>
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% bootstrap_button button_type="submit" content=button_text %}
            {% bootstrap_button button_type="reset" content="Reset" %}
        </form>
    </div>
</div>
{% endblock %}