{% extends 'intake/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Enter New Password :: {% endblock %}

{% block content %}
  
{% if validlink %}

<div class="row">
  <div class="col-md-8 col-sm-10 col-12">
      <h2>Set a new password!</h2>
      <br>
      <form role="form" class="form-horizontal" method="post">
          {% csrf_token %}
          {% bootstrap_form form layout="horizontal" %}
          {% bootstrap_button button_type="submit" content="Submit New Password" %}
          {% bootstrap_button button_type="reset" content="Reset" %}
      </form>
  </div>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new <a href="{% url 'password_reset' %}">password reset.</a></p>

{% endif %}


<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
            </div>
        </div>
    </div>

{% endblock content %}