{% extends 'intake/base.html' %}
{% load bootstrap5 %}
{% block title %}Enter New Password :: {% endblock %}

{% block content %}
  <br><h3>Password Reset</h3><br>

  
{% if validlink %}

<h1>Set a new password!</h1>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons submit='Submit New Password' layout='horizontal' %}{% endbuttons %}
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new <a href="{% url 'password_reset' %}">password reset.</a></p>

{% endif %}


<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
            </div>
        </div>
    </div>

{% endblock content %}
