{% extends 'intake/base.html' %}
{% load bootstrap5 %}
{% block title %}Change Password :: {% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons submit='Change Password' reset='Reset' layout='horizontal' %}{% endbuttons %}
  </form>


<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <h5>Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></h5>
              <br>
              <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
            </div>
        </div>
    </div>

{% endblock content %}
