{% extends 'intake/base.html' %}

{% block title %}
    Asylee Detailed View
{% endblock %}

{% block content %}

    <h1>{{asylee.name}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">From {{asylee.family.country_of_origin|title}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">
        {% if asylee.family.languages.count == 1 %}
            Language
        {% else %}
            Languages
        {% endif %}
        spoken:
        {% for language in asylee.family.languages %}
            {{language|title}}
        {% endfor %}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Arrived on {{asylee.family.intakebus.number}} at {{asylee.family.intakebus.arrival_time}}</h6>
    <p class="card-text">Heading to {{asylee.family.destination}}</p>
    <p class="card-text">Notes: {{asylee.notes}}</p>
    <br><br>

    <div class="card">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Medical Issue</th>
            <th>Resolved?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for unit in asylee.medicals.all %}
            <tr>
              <td class="align-middle">{{ unit.provider.name }}</td>
              <td class="align-middle">{{ unit.description }}</td>
              <td class="align-middle">{% if unit.resolution_time %}Yes{% else %}No{% endif %}</td>
              <td class="text-right">
                <a href="{% url 'medical:detail' unit.id %}" class="card_link">See more</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="10">No medical records found matching your request</td>
            </tr>
          {% endfor %}
          <tr>
              <td colspan="10">
                  <a href="{% url 'medical:add' asylee.id %}" class="btn btn-primary">Add New Medical Issue&nbsp;
                  <span class="badge badge-light">+</span></a>
              </td>
          </tr>
        </tbody>
        {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
      </table>
    </div>
  {% endblock %}
