{% load my_tags %}

{% if asylee.sick_covid %}
<div class="alert alert-danger" role="alert">
  {{ asylee.name}} is currently sick from COVID-19. Implement proper PPE and COVID-safe practices.
</div>
{% endif %}

<h1>{{asylee.name}}</h1>
<h6 class="card-subtitle mb-2 text-muted">Alien number: {{ asylee.a_number }}</h6>
<h6 class="card-subtitle mb-2 text-muted">From {{asylee.headofhousehold.country_of_origin|title}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Language{% if household.languages.count > 1 %}s{% endif %} spoken:
    {% for language in headofhousehold.languages.all %}
        <span class="badge rounded-pill text-light bg-primary">{{ language|title }}</span>
    {% endfor %}
</h6>
<h6 class="card-subtitle mb-2 text-muted">Arrived on {{asylee.headofhousehold.intakebus.number}} at {{asylee.headofhousehold.intakebus.arrival_time}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Heading to {{asylee.headofhousehold.destination}}</h6>
{% if lod == 'partial' %}
<p class="card-text">{{ asylee.notes|shorten }}</p>
{% else %}
<p class="card-text">{{ asylee.notes }}</p>
{% endif %}


{% if lod == 'partial' %}
{% else %}
<table class="table-sm table-striped table-borderless mb-0">
  <tbody>
    {% if asylee.sex %}<tr><td>Sex:</td><td>{{ asylee.sex }}</td></tr>{% endif %}
    {% if asylee.date_of_birth %}<tr><td>Date of birth:</td><td>{{ asylee.date_of_birth }}</td></tr>{% endif %}
    {% if asylee.age %}<tr><td>Age:</td><td>{{ asylee.age }} years old</td></tr>{% endif %}
    {% if asylee.phone_number %}<tr><td>Phone #:</td><td><a href='tel:asylee.phone_number|to_phone_number:True}}'>{{ asylee.phone_number|to_phone_number }}</td></tr>{% endif %}
    <tr><td></td><td>{{ asylee.had_covid_disease_str|safe }}</td></tr>
    <tr><td></td><td>{{ asylee.had_covid_vaccine_str|safe }}</td></tr>
    {% if asylee.sick_covid %}<tr><td></td><td>
      {{ asylee.pronoun|title }} 
      {% if asylee.sex == 'male' or asylee.sex == 'female' %}is{% else %}are{% endif %}
        sick with COVID-19.</td></tr>
    {% endif %}

    {% if asylee.sick_other %}<tr><td></td><td>
      {{ asylee.pronoun|title }} 
      {% if asylee.sex == 'male' or asylee.sex == 'female' %}is{% else %}are{% endif %}
        sick (but not from COVID-19).</td></tr>
    {% endif %}
  </tbody>
</table><br><br>
{% endif %}


{% if lod == "partial" %}
  <a href="{% url 'asylee:detail' asy_id=asylee.id %}" class="card-link"><button type="button" class="btn btn-primary btn-sm">See more</button></a><br>
{% else %}
  <a href="{% url 'asylee:overview' asy_id=asylee.id %}" class="card-link"><button type="button" class="btn btn-primary btn-sm">Go to Overview</button></a><br>

  {% if user.profile.is_capable_intake or user.profile.is_capable_travel %}
  <br><br>
  <a href="{% url 'asylee:update' asylee.id %}">
    <button type="button" class="btn btn-warning">Update {{ asylee.name }}</button>
  </a>
  <br><br>
  <a href="{% url 'asylee:delete' asylee.id %}">
    <button type="button" class="btn btn-danger">Delete {{ asylee.name }}</button>
  </a>
  {% endif %}
{% endif %}