{% extends 'intake/bootstrap.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/intake/css/ristra.css' %}" rel="stylesheet">

{% load bootstrap4 %}

{% block title %}Ristra Refuge{% endblock title %}

{% block bootstrap4_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Ristra Refuge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if active_view == 'home' %} active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item{% if active_view == 'Campaign' %} active{% endif %}">
        <a class="nav-link" href="{% url 'campaign:list' user.id %}">Campaigns</a>
      </li> -->
      {% if user.profile.affiliation %}
      <li class="nav-item dropdown {% if active_view == 'reports' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report:at a glance' %}">At-A-Glance</a>
          <a class="dropdown-item" href="{% url 'report:active households' %}">Active Households</a>
          <a class="dropdown-item" href="{% url 'report:active asylees' %}">Active Asylees</a>
          <a class="dropdown-item" href="{% url 'report:org historical' %}">{{ user.profile.affiliation.name }} Historical</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
      {% if user.profile.role != 'site_coordinator' %}
      <li class="nav-item dropdown{% if active_view == 'search' %} active{% endif %}">
        <a class="nav-link" href="{% url 'report:asylees search' %}">Search</a>
      </li>
      {% else %}
      <li class="nav-item dropdown {% if active_view == 'search' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report:asylees search' %}">Asylees</a>
          <a class="dropdown-item" href="{% url 'report:volunteers search' %}">Volunteers</a>
        </div>
      </li>
      {% endif %}
      {% endif %}
      <li class="nav-item dropdown{% if active_view == 'donate' %} active{% endif %}">
        <a class="nav-link" href="{% url 'donate:overview' %}">Donate</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'request queue' %}">Request Queue</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user:update profile' %}">{{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
{% include 'intake/breadcrumbs.html' %}

  {% include 'intake/messages.html' %}

  <div class="container">
    <br>
      <!-- {% autoescape off %}{% bootstrap_messages %}{% endautoescape %} -->

      {% block content %}(no content){% endblock %}
  </div>

<br><br><br><br>


{% include 'intake/footer.html' %}
{% endblock %}