{% extends 'intake/base.html' %}

{% load qr_code %}

{% block content %}

<h1>{{campaign.campaign.short_url}}</h1>
<h1>For {{campaign.organization.name}}</h1>
<h6 class="card-subtitle mb-2 text-muted">{{campaign.organization.location}}</h6>
{% if campaign.organization.is_valid != True %}
<span class="badge badge-pill badge-sm badge-danger">awaiting validation</span>
{% endif %}
<p class="card-text">Valid until {{campaign.campaign.date_expired}}</p>
<p class="card-text">{{campaign.organization.notes}}</p>
<a href="{{org.url}}" class="card-link">{{campaign.organization.url}}</a>
<br><br>

<a href="{{campaign.url}}" title="Affiliate yourself with this campaign!">
{% qr_from_text campaign.url size="t" image_format="png" error_correction="L" %}
</a>
<p class="card-text">{{campaign.url}}</p>

{% endblock %}
