{% extends 'intake/base.html' %}

{% block title %}
    Family Detailed View
{% endblock %}

{% block content %}
    <h1>{{family.family_name}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">From {{family.country_of_origin}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Language(s) spoken:
        {% for language in family.languages.all %}
            {{language}}
        {% endfor %}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Arrived on {{family.intake_bus}} at {{family.intake_bus.arrival_time}}</h6>
    <p class="card-text">Heading to {{family.destination}}</p>
    <p class="card-text">{{family.notes}}</p>
    <br><br>

<!-- Family members -->
    <div class="card">
        <div class="card-header text-center">
            MEMBERS OF THE FAMILY
        </div>
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Asylee Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for unit in family.asylees.all %}
            <tr>
              <td class="align-middle">{{ unit.name }}</td>
              <td class="align-middle">{{ unit.sex }}</td>
              <td class="align-middle">{{ unit.age }}</td>
              <td class="text-right">
                <a href="{% url 'asylee:detail' unit.id %}" class="card_link">See more</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="10">No asylees found matching your request</td>
            </tr>
          {% endfor %}
          <tr>
              <td colspan="10">
                  <a href="{% url 'asylee:add' family.id %}" class="btn btn-primary">Add New Asylee&nbsp;
                  <span class="badge badge-light">+</span></a>
              </td>
          </tr>
        </tbody>
        {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
      </table>
    </div>

<br><br>

<!-- Sponsor -->
<div class="card">
    <div class="card-header text-center">
        SPONSOR
    </div>
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Sponsor Name</th>
        <th>Phone Number</th>
        <th>Lives In</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if family.sponsor %}
        <tr>
          <td class="align-middle">{{ family.sponsor.name }}</td>
          <td class="align-middle">{{ family.sponsor.phone_number }}</td>
          <td class="align-middle">{{ family.sponsor.location }}</td>
          <td class="text-right">
            <a href="{% url 'sponsor:detail' family.sponsor.id %}" class="card_link">See more</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="10">No sponsor found matching your request</td>
        </tr>
        <tr>
            <td colspan="10">
                <a href="{% url 'sponsor:add' family.id %}" class="btn btn-primary">Add New Sponsor&nbsp;
                <span class="badge badge-light">+</span></a>
            </td>
        </tr>
      {% endif %}
    </tbody>
    {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
  </table>
</div>

<br><br>

<!-- Travel Plan -->
<div class="card">
    <div class="card-header text-center">
        TRAVEL PLAN
    </div>
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Confirmation</th>
        <th>Destination</th>
        <th>Travel Date</th>
        <th>City Van Date</th>
        <th>Mode of Travel</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if family.travel_plan %}
        <tr>
          <td class="align-middle">{{ family.travel_plan.confirmation }}</td>
          <td class="align-middle">{{ family.travel_plan.destination }}</td>
          <td class="align-middle">{{ family.travel_plan.travel_date }}</td>
          <td class="align-middle">{{ family.travel_plan.city_van_date }}</td>
          <td class="align-middle">{{ family.travel_plan.mode_of_travel }}</td>
          <td class="text-right">
            <a href="{% url 'travelplan:detail' family.travel_plan.id %}" class="card_link">See more</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="10">No travel plan found matching your request</td>
        </tr>
        <tr>
            <td colspan="10">
                <a href="{% url 'travelplan:add' family.id %}" class="btn btn-primary">Add New Travel Plan&nbsp;
                <span class="badge badge-light">+</span></a>
            </td>
        </tr>
      {% endif %}
    </tbody>
    {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
  </table>
</div>
<br><br>
  {% endblock %}
