{% extends 'intake/base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

{% block title %}
    Families
{% endblock %}

{% block content %}

<form role="form" class="form-horizontal" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons submit=model reset='Cancel' layout='horizontal' %}{% endbuttons %}
</form>

<table border="1">
{% for field in form.visible_fields %}
  <tr>
    <th>{{ field.label_tag }}</th>
    <td>
      {% if field.errors %}
        <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if field == field.lodging %}
        **
        {% else %}
        &&
      {% endif %}
      {{ field }}
      {% if field.help_text %}
        <br />{{ field.help_text }}
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Add a Family</h4>
            </div>
        </div>
    </div>
    <p><p>

    {% include 'intake/generic-form.html' with model="Add Family" %}

{% endblock %}
