<h1>Household of {{headofhousehold.name}}</h1>
<h6 class="card-subtitle mb-2 text-muted">From {{headofhousehold.country_of_origin|title}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Language(s) spoken:
    {% for language in headofhousehold.languages.all %}
        {{language}}
    {% endfor %}
</h6>
<h6 class="card-subtitle mb-2 text-muted">Arrived on {{headofhousehold.intakebus.number}} at {{headofhousehold.intakebus.arrival_time}}</h6>
<p class="card-text">Heading to {{headofhousehold.destination}}</p>
<p class="card-text">{{headofhousehold.notes}}</p>