{% extends 'intake/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Home :: Ristra Refuge{% endblock %}

{% block content %}
    <br>
    <!-- <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    This is <em>Ristra</em> for <strong>Albuquerque</strong>.

    {% if user.is_authenticated %}
    <div class="list-group">
      {% if user.profile.affiliation %}
        <li class="list-group-item"><h3>Organizations to which you are affiliated</h3></li>
        
        <a href="{% url 'organization:overview' user.profile.affiliation.id %}" class="active list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <u><h5 class="mb-1">{{ user.profile.affiliation.name }}</h5></u>
            <!-- <small></small> -->
          </div>
          <p class="mb-1">{{ user.profile.affiliation.notes }}</p>
          <small>{{ user.profile.affiliation.location }}</small>
        </a>

      {% else %}
        
        {% include 'intake/organization_affiliate.html' with organization_list=organizations %}
        
      {% endif %}
      <br>
      {% if user.profile.affiliation %}
        {% for org in organizations %}
        <li class="list-group-item"><h4>Organizations you can also affiliate yourself with</h4></li>
        <a href="{% url 'organization:list' org.id %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ org.name }}</h5>
            <!-- <small></small> -->
          </div>
          <p class="mb-1">{{ org.notes }}</p>
          <small>{{ org.location }}</small>
        </a>
        {% endfor %}
      {% endif %}
      
    </div>
    {% endif %}
    <br>

    {% if user.is_authenticated and user.profile.affiliation == None %}
    <div class="jumbotron">
      <p class="lead">Affiliating yourself with an organization will allow you to successfully partner with that organization and help them carry out their duties.
        You must affiliate with an organization or, if you have the proper credentials, create a new organization.
        Organizations that you wish to create must first be approved by a site administrator.</p>
    </div>
    {% endif %}
{% endblock %}
