{% extends 'intake/bootstrap.html' %}

{% load bootstrap4 %}

{% block title %}Itinerary :: Ristra Refuge{% endblock title %}

{% block bootstrap4_content %}

<style type="text/css">h1 {page-break-before:always}</style>

<div class="container">
    <h1>TRAVEL ITINERARY FOR THE HOUSEHOLD</h1>
    <h3>of {{ headofhousehold.name }}</h3>
    <table class="table-sm table-borderless mb-0">
        <thead>
            
        </thead>
        <tbody>
            {% include 'intake/itinerary_travelplan.html' with asy=headofhousehold.asylee_ptr %}
        </tbody>
    </table><br><br>

    <table class="table-sm table-striped table-borderless mb-0">
        <thead>
            <tr><th colspan="10"><h4>MEMBERS OF THE HOUSEHOLD</h4></th></tr>
            <tr>
                <th>NAME</th>
                <th>A-NUMBER</th>
                <th>DATE OF BIRTH</th>
        </thead>
        <tbody>
            {% for asylee in headofhousehold.asylees.all %}
                <tr>
                    <td>{{ asylee.name }}</td>
                    <td>{{ asylee.a_number }}</td>
                    <td>{{ asylee.date_of_birth }}</td>
            {% endfor %}
        </tbody>
    </table><br><br>

    {% for asylee in headofhousehold.asylees.all %}
        <h1>TRAVEL ITINERARY FOR</h1>
        <h3>{{ asylee.name }}</h3><br>

        <table class="table-sm table-borderless mb-0">
            <thead>
                
            </thead>
            <tbody>
                <tr><td>{{ asylee.name }}</td><td>&nbsp</td><td>{{ asylee.a_number }}</td></tr>
                <tr><td><small class="text-muted">name / nombre</small></td><td>&nbsp</td><td><small class="text-muted">a-number número a</small></td></tr>
                <tr><td colspan="3">&nbsp</td></tr>
                <tr><td>{{ asylee.date_of_birth }}</td><td>&nbsp</td><td>{{ asylee.age }}</td></tr>
                <tr><td><small class="text-muted">date of birth / fecha de nacimiento</small></td><td>&nbsp</td><td><small class="text-muted">age / edad</small></td></tr>

            </tbody>
        </table><br><br>

        <table class="table-sm table-borderless mb-0">
            <thead>
                
            </thead>
            <tbody>
                {% include 'intake/itinerary_travelplan.html' with asy=asylee %}
            </tbody>
        </table><br><br>
    {% endfor %}
</div>


{% endblock bootstrap4_content %}