<div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Bus No.</th>
          <th>Arrival Time</th>
          <th>From</th>
          <th>Heads of<br>Household</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for unit in location.intakebuses.all %}
          <tr>
            <td class="align-middle">{{ unit.number }}</td>
            <td class="align-middle">{{ unit.arrival_time }}</td>
            <td class="align-middle">{{ unit.origin_location }}</td>
            <td class="align-middle">{{ unit.headsofhousehold.count }}</td>
            <td class="text-right">
              <a href="{% url 'intakebus:overview' unit.id %}" class="card_link">See more</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="10">No intake buses found matching your request</td>
          </tr>
        {% endfor %}
        {% if user.profile.role == 'site_coordinator' or user.profile.role == 'team_lead' %}
        <tr>
            <td colspan="10">
                <a href="{% url 'intakebus:add' location.id %}" class="btn btn-primary">Add New Intake Bus&nbsp;
                <span class="badge badge-light">+</span></a>
            </td>
        </tr>
        {% endif %}
      </tbody>
      {% include 'intake/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
    </table>
  </div>