{% extends 'intake/base.html' %}

{% block title %}
    Medical Issue Detailed View
{% endblock %}

{% block content %}

    <h1>Patient: {{medical.asylee.name}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">From {{medical.asylee.headofhousehold.country_of_origin|title}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Arrived on {{medical.asylee.headofhousehold.intakebus.number}} at {{medical.asylee.headofhousehold.intakebus.arrival_time}}</h6>
    <p class="card-text">Medical provider: {{medical.provider}}</p>
    <p class="card-text">Data entry: {{medical.entered_by}}</p>
    <p class="card-text">Notes: {{medical.notes}}</p>
    <br><br>

{% endblock %}
