{% extends 'intake/base.html' %}

{% load qr_code %}

{% block title %}
    Organization Overview
{% endblock %}

{% block content %}

<div class="container">
    <div class="row"><div class="col text-center">
        <a href="{{qr_url}}" title="Join {{org.name}}">
            {% qr_from_text qr_url size="s" %}
        </a>
    </div></div>
    <div class="row">
        <div class="col-auto text-center">
            <h1>{{org.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-auto text-center">
            <h2>Based in {{org.location}}</h2>
        </div>
    </div>
</div>

{% endblock %}
