<div class="card-group">
    <div class="card bg-light mb-3">
<div class="card-header">AFFILIATED ORGANIZATIONS</div>

<div class="card-group">
{% for org in orgs %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{org.name}}</h1>
            <h6 class="card-subtitle mb-2 text-muted">{{org.location}}</h6>
            <p class="card-text">{{org.notes}}</p>
            <small class="text-muted">{{org.url}}</small>
        </div>
        <div class="card-footer">
            <a href="{% url 'org detail' id=org.id %}" class="card-link">See more</a>
        </div>
    </div>
{% endfor %}
</div>
</div>
</div>
