{% extends 'intake/base.html' %}

{% block title %}At-A-Glance :: Ristra Refuge{% endblock %}

{% block content %}

<div class="container">
<h1 class="text-center">{{organization.name}} At-A-Glance</h1>
<div class="row">
<div class="col-sm-6">
<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <th colspan="2" style="text-align:center;">TOTAL EVER</th>
  </thead>
  <tbody>
    <tr><td>Locations:</td><td>{{ organization.locations.count }}</td></tr>
    <tr><td>Intake Buses:</td><td>{{ ib_count }}</td></tr>
    <tr><td>Households:</td><td>{{ hoh_count }}</td></tr>
    <tr><td>Asylees:</td><td>{{ asy_count }}</td></tr>
  </tbody>
</table><br><br>
</div>
<div class="col-sm-6">
<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <th colspan="2" style="text-align:center;">TOTAL ACTIVE</th>
  </thead>
  <tbody>
    <tr><td>Active locations:</td><td>{{ loc_active_count }}</td></tr>
    <tr><td>Active intake buses:</td><td>{{ ib_active_count }}</td></tr>
    <tr><td>Active households:</td><td>{{ hoh_active_count }}</td></tr>
    <tr><td>Active asylees:</td><td>{{ asy_active_count }}</td></tr>
  </tbody>
</table><br><br>
</div>
<div class="col-sm-6">
<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <th colspan="2" style="text-align:center;">HOUSEHOLDS LACKING</th>
  </thead>
  <tbody>
    <tr><td>Households lacking travel:</td><td>{{ hoh_no_tp }}</td></tr>
    <tr><td>Households lacking sponsor:</td><td>{{ hoh_no_spon }}</td></tr>
    <tr><td>Asylees lacking A-number:</td><td>{{ asy_no_a_anum }}</td></tr>
  </tbody>
</table><br><br>
</div>
<div class="col-sm-6">
<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <th colspan="2" style="text-align:center;">HOUSEHOLDS IN MOTION</th>
  </thead>
  <tbody>
    <tr><td>Households arrived yesterday:</td><td>{{ hohs_arr_yday }}</td></tr>
    <tr><td>Households arrived today:</td><td>{{ hohs_arr_today }}</td></tr>
    <tr><td>Households leaving today:</td><td>{{ hohs_lvg_today }}</td></tr>
    <tr><td>Households leaving tomorrow:</td><td>{{ hohs_lvg_tom }}</td></tr>
  </tbody>
</table><br><br>
</div>
</div></div>

{% endblock %}