{% load my_tags %}

<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <tr>
      <th>Household of</th>
      <th>Room #</th>
      <th>Number in<br>Household</th>
      <th>Members</th>
      <th>Destination</th>
      <th>Time Here</th>
      <th>Departure</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for unit in unit_list %}
    <tr>
      <td>{% if unit.sick_covid %}<span class="text-danger">{{ unit.name }}</span>{% elif unit.householdhead.is_sick_covid %}<span class="text-warning">{{ unit.name }}</span>{% else %}{{ unit.name }}{% endif %}</td>
      <td>{% if unit.householdhead.lodging %}<a href="{% url 'location:overview' unit.householdhead.intakebus.location.id %}">{{ unit.householdhead.intakebus.location.name }}</a> {{ unit.householdhead.lodging }}{% else %}<small>n/a</small>{% endif %}</td>
      <td>{{ unit.asylees.count }}</td>
      <td class='text-center'>{{ unit.ages_and_sex }}</td>
      <td>{{ unit.destination }}</td>
      <td class='text-right'>{{ unit.householdhead.time_at_location }}</td>
      <td>{{ unit.householdhead.travel_plan.departure_time|hdYIMp }}
      <td><a href="{% url 'headofhousehold:overview' hoh_id=unit.id %}">See more</a>
    </tr>
    {% empty %}
    <tr>
      <td class="bg-light text-center font-italic" colspan="10">No results found matching your request</td>
    </tr>
    {% endfor %}
  </tbody>
</table><br><br>