{% extends 'intake/base.html' %}

{% load my_tags %}

{% block title %}Active Households Report :: Ristra Refuge{% endblock %}

{% block content %}

<div class="container">
<h1 class="text-center">{{organization.name}} Active Households</h1>
<div class="row">
<div class="col-md">

{% include 'intake/report_household_inclusion.html' with unit_list=active_households %}

</div class="col-sm-6">
</div class="row">

<div class="jumbotron">
  <p class="lead">A Household is considered active if they have not yet left or are within 24 hours of arriving at their destination.</p>
</div>

</div class="container">

{% endblock %}