{% extends 'intake/base.html' %}

{% load my_tags %}

{% block title %}{{ report_title }} Report :: Ristra Refuge{% endblock %}

{% block content %}

<div class="container">
<h1 class="text-center">{{ organization.name }} {{ report_title }}</h1>
<div class="row">
<div class="col-md">

<table class="table-sm table table-borderless table-striped mb-0">
  <thead>
    <tr>
      <th>Category</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Total Number of Households:</td><td>{{ organization.historical_families_count }}</td></tr>
    <tr><td>Total Number of Asylees:</td><td>{{ organization.historical_asylees_count }}</td></tr>
    <tr><td colspan="2">Total Sex Count:</td><td></td></tr>
    {% for sex, count in organization.historical_sex_count.items %}
    <tr><td class="text-right">{{ sex|title }}</td><td>{{ count }}</td></tr>
    {% endfor %}
    <tr><td>Total Age Count:</td><td>{% for x in organization.historical_age_count %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for age, count in organization.historical_age_count_sorted %}
      {% if count > 0 %}
      <tr><td class="text-right">{{ age }}</td><td>{{ count }}</td></tr>
      {% endif %}
    {% endfor %}
    <tr><td>Total Countries of Origin:</td><td>{% for x in organization.historical_country_of_origin %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for country, count in organization.historical_country_of_origin.items %}
    <tr><td class="text-right">{{ country|title }}</td><td>{{ count }}</td></tr>
    {% endfor %}
    <tr><td>Total Average Days Traveling:</td><td>{{ organization.historical_days_traveling|divided_by:organization.historical_asylees_count }}</td></tr>
    <tr><td>Total Average Days in Detention:</td><td>{{ organization.historical_days_in_detention|divided_by:organization.historical_asylees_count }}</td></tr>
    <tr><td>Total Detention Type:</td><td>{% for x in organization.historical_detention_type %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for type, count in organization.historical_detention_type.items %}
    <tr><td class="text-right">{{ type|title }}</td><td>{{ count }}</td></tr>
    {% endfor %}
    <tr><td>Total Asylees Sick with COVID-19:</td><td>{{ organization.historical_sick_covid }}</td></tr>
    <tr><td>Total Sick (Other) Asylees:</td><td>{{ organization.historical_sick_other }}</td></tr>
    <tr><td>Total Destinations:</td><td>{% for x in organization.historical_destinations %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for destination, count in organization.historical_destinations.items %}
    <tr><td class="text-right">{{ destination }}</td><td>{{ count }}</td></tr>
    {% endfor %}
    <tr><td>Total Languages Spoken:</td><td>{% for x in organization.historical_languages_spoken %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for language, count in organization.historical_languages_spoken.items %}
    <tr><td class="text-right">{{ language }}</td><td>{{ count }}</td></tr>
    {% endfor %}
    <tr><td colspan="2">Total Average Travel Time:</td><td></td></tr>
    {% for mode, count in organization.historical_travel_duration.items %}
    <tr><td class="text-right">{{ mode|title }}</td><td>{{ count.0 }} people who have traveled {{ count.1|dec_places:2 }} days</td></tr>
    {% endfor %}
    <tr><td>Total Needs:</td><td>{% for x in organization.historical_needs %}{% empty %}<small class="text-muted">none yet</small>{% endfor %}</td></tr>
    {% for need, count in organization.historical_needs.items %}
    <tr><td class="text-right">{{ need|title }}</td><td>{{ count }}</td></tr>
    {% endfor %}
  </tbody>
</table><br><br>


</div class="col-sm-6">
</div class="row">
</div class="container">

{% endblock %}