{% extends 'intake/base.html' %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons submit='Login' reset='Cancel' layout='horizontal' %}{% endbuttons %}
  </form>


<br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h5>
            </div>
        </div>
    </div>

    <!-- {% include 'intake/signup-form.html' %} -->

{% endblock content %}
